.catalogList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
}

.imageWrapper {
    position: relative;
}

.itemImg {
    width: 276;
    height: 268;
    border-radius: 14px;
    margin-bottom: 16px;
    object-fit: cover;
}

.favoriteButton {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 4;
    width: 40px;
    height: 40px;
    padding: 12px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.15s ease;
}


.favoriteButton svg {
    display: block;
}

.catalogCard {
    width: 276px;
    height: 444px;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    margin-bottom: 8px;
}

.itemTitle {
    height: 40px;
}

.itemModel {
    color: var(--button);
}
.carInfo {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    margin-bottom: 32px;
}

.ItemBtn {
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);
    border-radius: 12px;
    padding: 12px 96px;
    background: var(--button);
}